// Microsoft Visual C++ generated resource script.
//
#include <windows.h>
#include <commctrl.h>
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_MODEMDLG DIALOG  DISCARDABLE 0, 0, 147, 54
STYLE WS_OVERLAPPED | WS_VISIBLE | WS_CLIPSIBLINGS | DS_CENTER | WS_SYSMENU
EXSTYLE WS_EX_CAPTIONOKBTN
CAPTION "Modem Power Control"
BEGIN
    CONTROL         "Modem Power On",IDC_MODEM_ON,"Button",BS_AUTOCHECKBOX | BS_CENTER | WS_TABSTOP,37,22,73,10
    CONTROL         130,IDC_ON,"Static",SS_BITMAP | NOT WS_VISIBLE,7,7,26,22
    CONTROL         131,IDC_OFF,"Static",SS_BITMAP | NOT WS_VISIBLE,7,7,26,22
    CONTROL         132,IDC_ABSENT,"Static",SS_BITMAP | NOT WS_VISIBLE,7,7,32,30
    CTEXT           "",IDC_STATUS,7,36,133,8
END


/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_ON                  BITMAP                  "ModemOn.bmp"
IDB_OFF                 BITMAP                  "ModemOff.bmp"
IDB_ABSENT              BITMAP                  "ModemAbsent.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_MODEM               ICON     DISCARDABLE               "Modem.ico"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE 
BEGIN
    IDS_APP_TITLE           "Modem Activation"
    IDS_INFO                "Modem Power Control"
END

