// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#include "windows.h"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_BTGW                ICON                    "btgw.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MENU MENU 
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "E&xit",                       IDM_FILE_EXIT
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About",                      IDM_HELP_ABOUT
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Accelerator
//

IDC_BTGW ACCELERATORS 
BEGIN
    "A",            IDM_HELP_ABOUT,         VIRTKEY, CONTROL, NOINVERT
    "Q",            IDOK,                   VIRTKEY, CONTROL, NOINVERT
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_ABOUTBOX DIALOG  0, 0, 125, 55
STYLE WS_OVERLAPPED | WS_VISIBLE | WS_CLIPSIBLINGS | DS_CENTER | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_CAPTIONOKBTN
CAPTION "About bluetooth gateway"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            IDI_BTGW,IDC_STATIC,11,10,21,20
    LTEXT           "Lan Access Profile",IDC_STATIC,38,10,70,8,SS_NOPREFIX
    LTEXT           "Copyright (C) 2010",IDC_STATIC,38,25,70,8
END


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE 
BEGIN
    IDS_APP_TITLE           "btgw"
    IDC_BTGW                "BTGW"
END

STRINGTABLE 
BEGIN
    IDS_TOOLS               "Tools"
END

